.services-wrapper {
  .borderDot {
    .vs-service {
      border: 1px dashed var(--theme-color);
    }
  }
  .Hover {
    .vs-service:hover {
      background-color: var(--theme-color);
      .service-title {
        color: var(--white-color);
      }
      .service-text {
        color: var(--white-color);
      }
    }
  }
  .vs-service {
    background-color: var(--theme-color);
    padding: 60px 0;
    padding-bottom: 55px;
    text-align: center;

    margin-bottom: 30px;
  }
  .gutters-10 {
    .vs-service {
      margin-bottom: 10px;
      background-color: rgba(249, 163, 146, 0.1);
      .service-icon {
        display: inline-block;
        width: 120px;
        height: 120px;
        background-color: var(--white-color);
        line-height: 110px;
        margin-bottom: 40px;
        color: var(--theme-color);
        border-radius: 50%;
      }
      .service-content {
        .service-title {
          -webkit-transition: all ease 0.4s;
          transition: all ease 0.4s;
          margin-bottom: 12px;
        }
        .service-text {
          &:last-child {
            max-width: 225px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            -webkit-transition: all ease 0.4s;
            transition: all ease 0.4s;
          }
        }
      }
    }
  }
}
